body{
    height: 100vh;
    font-family: 'Roboto', sans-serif;
   background-image: url(../img/pizza-cadastro.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
}

header{
    padd
}

header::after{
    position: absolute;
    content: "";
    display: block;
    background: linear-gradient(360deg, #fff0 0%, var(--cor-principal) 100%);
    inset: 0;
    z-index: -1;
}

.perfil h1{
    color: #fff;
    padding-top: 7px;
}

.perfil{
    display: flex;
    gap: 10px;
    font-size: 12px;
    padding: 10px;
}

.perfil img{
    padding-top: 12px;
    height: 4.8vh;
}

.person{
    padding-top: 20px;
    padding-left: 140px;
}

.person img{
    height: 6rem;
    width: 6rem;
    padding: 12px;
    background-color: #C4C4C4;
    border-radius: 50%;
}

.foto{
    padding-left: 200px;
}

.foto img{
    height: 2.8rem;
    width: 2.8rem;
    padding: 12px;
    background-color: var(--cor-botao-vermelho);
    border-radius: 50%;
}