body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(180deg, rgba(252,121,0,0.5902777777777778) 30%, rgba(252,121,0,0) 100%);
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

body::after{
    content: "";
    display: block;
    position: absolute;
    width: 100vw;
    height: 100vh;
    inset: 0;
    z-index: -1;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cabecalho{
    color: #fff;
}

.cabecalho h1, p{
    padding-right: 1rem;
    color: #fff;
}

.barraPesquisa{
    height: 3.2rem;
    width: 90%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
}

.barraPesquisa input{
    border: 0 solid transparent;
    background: transparent;
    height: 100%;
    width: 100%;
    outline: none;
    
}

input::placeholder{
    font-size: 12.4px;
    padding-left: 10px;
}

#pesquisa{
    background-image: url(../img/home/logo-lupa.webp);
    background-repeat: no-repeat;
    background-position: calc(290px - 30px);
    background-size: 24px;

}

/* Carrosel de categorias */
/* 
.categorias h4{
    color: #fff;
    box-shadow: 2px 4px 6px;
}

.preco{
    width:  60px;
    height: 18px;
    background-color: var();
    position: absolute;
    top:14.5rem;
    left: 1.5rem;
    font-size: 10px;
    padding: 4px 4px;
    border-radius: 8px;
    color: var(--);
   
}

.descricao{
    width: 80px;
    background-color: rgba(0, 0, 0, 0.507);
    top: 16rem;
    position: absolute;
    font-size: 12px;
    padding: 4px 4px;
    left: 1.5rem;
    border-radius: 2px 6px 8px;
    color: var(--);
}

.menuCategorias{
    display: grid;
    grid-template-columns: 2fr;
}

main .categorias{
    width: 3rem;
    height: 3rem;
    background-color: var(--cor-botao-vermelho);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.25rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    transition: 0.8s;
}

.menuCategorias{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}
*/

main{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 0 0 0 1.25rem;
}

.categorias{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.categorias h3{
    color: #fff;
}

.pizzas h3{
    color: #fff;
}

.recomendacao h3{
    color: #fff;
}

.drinks h3{
    color: #fff;
}


.foods{
    width: calc(100vw - 2.5rem);
    overflow-x: scroll;
    padding-bottom: 5px;
}

main h3{
    font-weight: 700;
    font-size: 0.9375rem;
    text-shadow: 0rem 0.125rem 0.125rem rgba(0, 0, 0, 0.50);
}

main ul{
    display: flex;
    gap: 12px;
}

main .categoria, .categoria {
    width: 3rem;
    height: 3rem;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.25rem;
    box-shadow: 0.125rem 0.125rem 0.125rem rgba(0, 0, 0, 0.25);
    transition: 0.8s;
}

.pizzas{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.pizzas-fav{
    display: flex;
    flex-wrap: nowrap;
    gap: 0.75rem;
    width: calc(100vw - 1.25rem);
    overflow-x: scroll;
    padding-bottom: 5px;
    padding-right: 1.125rem;
}

.pizzas-fav a{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: start;
    gap: 0.375rem;
    font-weight: 700;
    font-size: 0.75rem;
    color: var(--branco);
}

.pizzas-fav .pizza{
    flex-shrink: 0;
    height: 6.25rem;
    width: 9.375rem;
    border-radius: 8px;
}

#pizza1{
    background-image: url(../img/home/pizza-calabresa.webp);
}

#pizza2{
    background-image: url(../img/home/pizza-peperoni.webp);
}

#pizza3{
    background-image: url(../img/home/pizza-broto.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.preco{
    background-color: red;
    border-radius: 1rem;
    width: fit-content;
    height: fit-content;
    padding: 0.25rem 0.375rem;
    t: 0.4rem;
    color: white;
}

.pizzas-fav .nome{
    width: 80%;
    padding: 0.25rem 0.4rem;
    background-color: rgba(0, 0, 0, 0.55);
    font-size: 0.75rem;
    color: white;
    border-radius: 0 8px 0 8px;
}

.recomendacao{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.pizzas-recomend{
    display: flex;
    flex-wrap: nowrap;
    gap: 0.75rem;
    width: calc(100vw - 1.25rem);
    overflow-x: scroll;
    padding-bottom: 5px;
    padding-right: 1.125rem;
}


.pizzas-recomend .pizza{
    flex-shrink: 0;
    height: 7.1875rem;
    width: 10.9375rem;
    border-radius: 8px;
}

.pizzas-recomend a{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: start;
    gap: 0rem;
    font-weight: 700;
    font-size: 0.75rem;
    color: var(--branco);
}


.pizzas-recomend .nome{
    color: white;
    font-weight: 400;
    text-shadow: 0.0625rem 0.0625rem 0.0625rem #000;
    background-color: transparent;
    width: 100%;
    padding: 1rem 0.4rem 1.2rem 0.4rem;
    height: 3rem;
}

#pizza4{
    background-image: url(../img/home/pizza-peperoni-recomendada.webp);
    background-size: cover;
    background-position: center;
}

#pizza5{
    background-image: url(../img/home/pizza-broto.webp);
    background-size: cover;
    background-position: center;
}

.drinks{
    display: grid;
    flex-direction: column;
    gap: 0.75rem;
}

.container-drinks{
    display: grid;
    flex-direction: column;
    gap: 0.75rem;
}

main .bebida{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.25rem;
    box-shadow: 0.125rem 0.125rem 0.125rem rgba(0, 0, 0, 0.25);
    transition: 0.8s;
    width: calc(100vw - 2.5rem);
    background-color: white;
}

#coca{
    height: 3.625rem;
    width: 3.625rem;
}

.bebida a{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: end;
    width: 100%;    
    padding: 5px 5px;
}

.bebidas{
    display: flex;
    align-items: center;
    gap: 0.375rem;
}

.bebidas-info{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 0.375rem;
}

.nome-bebidas{
    font-weight: 700;
    font-size: 0.875rem;
}

.desc-bebidas{
    display: flex;
    flex-direction: column;
    text-align: start;
    color: rgba(0, 0, 0, 0.50);
    gap: 0.1rem;
}

footer{
    width: 100vw;
    background-color: var( --cor-principal);
    display: flex;
    padding: 1rem 1.25rem;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
}

footer a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.375rem;
    color: white;
}
footer button{
    background: transparent;
    border: none;
}

