body{
    height: 100vh;
    background-image: url(../img/background.webp);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 32px 24px;
    font-family: 'Roboto', sans-serif;
}

body::after{
    position: absolute;
    content: "";
    display: block;
    background: linear-gradient(360deg, #fff0 0%, var(--cor-principal) 100%);
    inset: 0;
    z-index: -1;
}

header{
    height: 150px;
}

main{
    flex-grow: 1;
    gap: 100px;
}

.conteudo-container{
    color: #fff;
}

.conteudo-container h1{
    width: 230px;
}

/* frase embaixo do botao */
p{
    color: #fff;
}

input::placeholder{
    color: #fff;
}

input {
    border: none;
    background: transparent;
    width: 300px;
    height: 26px;
    outline: none;
    border-bottom: solid 1px white;
    padding-left: 30px;
}

#email{
    background-image: url(../img/email.png);
    background-repeat: no-repeat;
    background-position: left;
}

#lock{
    background-image: url(../img/lock.webp);
    background-repeat: no-repeat;
    background-position: left;
}

.logar-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 18vh;
}

.logar-container img{
    width: 3.2vh;
    height: 3.2vh;
}

.botao-entrar{
    display: flex;
    justify-content: center;
}

.esqueci-senha {
    padding-left: 196px;
}

.criar-conta-container{
    text-align: center;
}

.criar-conta-container h2{
    color: white;
    text-shadow: 1px 2px 2px black;
}

