body{
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-image: url(../img/pizza-cadastro.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    display: grid;
    grid-template-rows: 10vh 1fr;
    height: 100vh;
}

header{
    padding: 5vh 1.5rem 0 1.5rem;
    display: grid;
    grid-template-rows: auto 1fr;
    align-items: center;
    z-index: 1;
    padding-top: 12px;
    margin-bottom: 24px;
}

header::after{
    position: absolute;
    content: "";
    display: block;
    background: linear-gradient(360deg, #fff0 0%, var(--cor-principal) 100%);
    inset: 0;
    z-index: -1;
}

#voltar{
    display: flex;
    gap: 1.5rem;
    color: #fff;
    font-weight: 700;
    font-size: 1.2rem;
    padding-bottom: 0.75rem;
    width: fit-content;
}

#voltar a{
    display: flex;
    width: fit-content;
    gap: 6px;
    font-size: 0.68rem;
}

#voltar a img{
    width: 12px;
}

main{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    padding: 0.5rem 1.5rem 2rem 1.5rem;
    border-radius: 2rem 2rem 0 0;
    background-color: #fff;
    margin-top: calc(15vh + 1.5rem);
}

main form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

main form div{
    display: flex;
    flex-direction: column;
    width: 100%;
}

main input{
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    background: transparent;
    outline: none;
    width: 100%;
}

#perfil{
    width: 15vh;
    height: 15vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateY(calc(-100% - 1.5rem));
;}

#perfil img{
    width: 100%;
    height: 100%;
}

#perfil label{
    position: absolute;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 0.3rem;
    bottom: 0;
    right: 0;
    cursor: pointer;
}

main address{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    width: 100%;
}

.info-usuario{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    align-items: center;
    transform: translateY(-40%);
}

#imagem-usuario{
    width: 15vh;
    height: 15vh;
    padding: 12px;
    position: relative;
    background-color: var(--cinza-usuario);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#imagem-usuario img{
    width: 70%;
    height: 70%;
}

#imagem-usuario label{
    position: absolute;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 0.3rem;
    bottom: 0;
    right: 0;
    cursor: pointer;
}

#imagem-usuario label img{
    width: 1.5rem;
    height: 1.5rem;
}

#imagem-usuario input{
    display: none;
}

.info-usuario div:nth-child(2){
    display: flex;
    flex-direction: column;
    align-items: center;
    font-style: normal;
}

.nome{
    font-weight: 700;
    font-size: 1.25rem;
}

.cidade{
    font-size: 0.875rem;
    color: var(--cinza-comentario);
}

.informacoes{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    width: 100%;
    transform: translateY(-6vh);
}

.info-container{
    display: flex;
    gap: 0.75rem;
    width: 100%;
    flex-direction: row;
    border: 1px solid var(--bege);
    border-radius: 0.5rem;
    padding: 0.75rem;
    border-color: gray;
    border-top-style: solid;
    border-bottom-style: solid;
    border-right-style: solid;
    border-left-style: solid;
}

.icon{
    width: 3.125rem;
    height: 3.125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: beige;
    border-radius: 50%;
    flex-shrink: 0;
}

.icon img{
    width: 60%;
    height: 60%;
}

.info{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-style: normal;
    justify-content: center;
    gap: 0.375rem;
}

.info span{
    font-size: 0.75rem;
    color: var(--cinza);
}

.info h3{
    font-size: 0.875rem;
    font-weight: 500;
}